* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  background-color: #FFE4E1;
}
  
.container {
   border: 30px solid #1d1e4c;
   min-height: 100vh;
  }

h1{
  margin-top: 30px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 50px;
  font-family: "Comic sans MS";
  text-shadow: 3px 3px #bc9e9b;
}

h2{
  text-align: center;
  font-size: 20px;
  font-family: "Comic sans MS";
  margin-bottom: 60px;
}

h4{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 20px;
}

img {
  height: 310px;
  width: 290px;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px #959494;
  float: left;
  margin-right: 10%;
}

.con{
  margin-top: 2%;
}

.box{
  border-radius: 15%;
  background-color: #e97e7234;
  width: 630px;
  height: 350px;
  display: flex;
  float: inline-start;
  margin-top: 20px;
  margin-right: 150px;
  padding: 100px;
  box-shadow: 5px 5px 10px #8f7977;
}

p{
  font-family: 'Lora', serif;
  font-size: 30px;
}

.center {
  display: block;
  margin-left: 15%;
  margin-right: 10%;

  }

th, td{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    
  } 

table, th, td {
  border:1px solid rgb(137, 100, 100);
  margin-left: 60px;
  margin-right: 60px;
  border-collapse: collapse;
}
  
footer {
  margin: 50px 0;
  margin-left: 50px;
}

footer p {
  text-align:left;
}